<div class="card h-100 shadow-sm border-0 rounded-4 p-2">
  <div class="card-body">
      <div class="d-flex justify-content-between align-items-start mb-2">
        <h5 class="card-title fw-bold text-primary mb-0">{{ jobData.title }}</h5>
        <span class="badge rounded-pill border" 
        [class.bg-success-subtle]="jobData.location.toLowerCase().includes('remoto')"
        [class.text-success]="jobData.location.toLowerCase().includes('remoto')"
        [class.border-success]="jobData.location.toLowerCase().includes('remoto')"
        [class.bg-primary-subtle]="!jobData.location.toLowerCase().includes('remoto')"
        [class.text-primary]="!jobData.location.toLowerCase().includes('remoto')"
        [class.border-primary]="!jobData.location.toLowerCase().includes('remoto')">
        {{ jobData.location.toLowerCase().includes('remoto') ? 'Remoto' : 'Presencial' }}
        </span>
      </div>
  
    <p class="card-text small text-muted">
      <i class="bi bi-building me-2"></i>{{ jobData.company }}
    </p>
    
    <p class="card-text small text-muted">
      <i class="bi bi-geo-alt me-2"></i>{{ jobData.location }}
    </p>

    <p class="card-text small text-muted">
      <i class="bi bi-cash-stack me-2"></i>
      {{ jobData.salary | currency:'EUR':'':'1.0' }} €
    </p>
    
    <p class="card-text small text-muted text-truncate-2">
      {{ jobData.description }}
    </p>
  </div>

  <div class="card-footer bg-transparent border-0 pb-3">
    <button class="btn btn-outline-primary w-100 fw-bold rounded-pill">Ver detalles</button>
  </div>
</div>